@model IEnumerable<BookStore.Domain.Entities.Book>

@{
    ViewBag.Title = "BookStore";
    Layout = "_Layout";
}

<h2>title</h2>
<a asp-controller="Book" asp-action="Index">Book</a>
<a asp-controller="Account" asp-action="Logout">Logout</a>
<a asp-controller="Account" asp-action="Login">Login</a>
<a asp-controller="Account" asp-action="Register">Register</a>
<a asp-controller="Order" asp-action="Index">Orders</a>

@if (@User.Identity.IsAuthenticated)
{
    <a asp-controller="Account" asp-action="Index" asp-route-email="@User.Identity.Name">Account</a>
}

@foreach (var book in Model)
{
    <p>@book.BookName</p>
    <p>@book.Price</p>
    <a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@book.Id">Add to cart</a>
    <hr/>
}