@model List<BookStore.Domain.Entities.Order>

@{
    ViewBag.Title = "Заказы";
    Layout = "_Layout";
}

<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                
                @foreach (var item in Model)
                {
                    <t2>Информация о пользователе:</t2>
                    <p>Адрес: @item.Address</p>
                    <p>Имя пользователя: @item.User.FirstName</p>
                    <p>Номер телефона: @item.PhoneNumber</p>
                    <t2>Список товаров:</t2>
                               @foreach (var prod in item.CartItems)
                               {
                                   <p>Книга: @prod.Book.BookName, Категория: @prod.Book.Category.CategoryName, Количество: @prod.Amount</p>
                               }
                    <p>Дополнительная информация: @item.Information</p>
                    <p>Конечная цена: @item.CartItems.Sum(c=>c.Amount * c.Book.Price)</p>
                    <hr/>
                    <a asp-controller="Order" asp-action="DeleteOrder" asp-route-id="@item.Id">Закрыть заказ</a>
                    <hr/>
                }
            </div>
        </div>
    </div>
</section>