@model System.Collections.Generic.List<BookStore.Domain.Entities.CartItem>

@{
    ViewBag.Title = "Cart";
    Layout = "_Layout";
}

@foreach (var item in Model)
{
    <p>Name @item.Book.BookName</p>
    <p>Amount @item.Amount</p>
    <p>Price @item.Book.Price</p>
    <hr/>
}

<p>Total price @Math.Round(@Model.Sum(x=>x.Book.Price * x.Amount),2)</p>

<a asp-controller="Order" asp-action="MakeOrder">Make order</a>
